<!DOCTYPE html>
<!--Created by Joseph Pesek on 08 October, 2016 -->
<html lang="en">
<head>
	
	<!--Title of webpage tab and charcter set information-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="styles/styles.css">
	<title>Joseph Pesek</title>
	<meta charset="utf-8">
</head>
<body>
<div id="outerwrapper">
	<header>
	
	<!--Header information with photo and basic contact information-->
		
		<img class="float-left" src="images/me_nature.jpg" alt="Picture of United States Army Veteran and Computer Programmer Joseph Pesek in Florida">
		
		<p><a class="myname">Joseph Pesek</a></p>
		<p>Email Address</p>
		<a href="mailto:jep1094@student.phsc.edu">jep1094@student.phsc.edu</a>
		<p>Phone Number</p>
		<a class="mobile" href="tel:7276425455">(727) 642-5455</a>
		
		
	</header>

	<nav>
	
	<!-- Navigation area for links to other pages. -->
	
		<ul>
			<li><a href="index.html">Home</a></li>
            <li><a href="portfolio.html">Portfolio</a></li>
			<li><a href="personalBackground.html">Personal Background</a></li>
			<li><a href="professionalBackground.html">Professional Background</a></li>
			<li><a href="futureProfessionalGoals.html">Future Professional Goals</a></li>
			<li><a href="achievements.html">Achievements</a></li>
            <li><a href="education.html">Education</a></li>
			<li><a href="contactInfo.html">Contact Info</a></li>
		</ul>
		
	</nav>
	
	<main>
	</main>
	
	<!-- End of main content. -->
	
	<footer>
	
	<!-- Footer section for static contact info that will be on all pages. -->
	&copy; Copyright 2016. All rights reserved. <br>
		<a href="mailto:jep1094@student.phsc.edu">jep1094@student.phsc.edu</a>
        
	</footer>
    </div>
</body>
</html>